# Database (Neon Postgres)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Auth.js
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Resend
RESEND_API_KEY=""

# Safepay
SAFEPAY_API_KEY=""
SAFEPAY_WEBHOOK_SECRET=""
